@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.illustration {
  height: 480px;
  background-image: url(images/illustration-working.svg);
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.input__container {
  background-image: url(images/bg-shorten-desktop.svg);
  background-size: cover;
  /* background-position: 70% 0; */
  background-repeat: no-repeat;
  top: -80px;
  /* margin-bottom: 55px; */
}

.get__started {
  background-image: url(images/bg-boost-desktop.svg);
  background-size: cover;
  /* background-position: 70% 0; */
  background-repeat: no-repeat;
}

.input__error {
  /* border: 2px solid hsl(0, 87%, 67%); */
  box-shadow: 0 0 0 3px hsl(0, 87%, 67%);
}

.input__error::-webkit-input-placeholder {
  color: hsl(0, 87%, 67%);
}

.copied {
  background-color: hsl(257, 27%, 26%);
}

.copied:hover {
  background-color: hsl(257, 27%, 26%);
}
